<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>838904893645-gpabsuvh0gehrpacd1e8dj1164jpsmjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838904893645-gpabsuvh0gehrpacd1e8dj1164jpsmjo</string>
	<key>API_KEY</key>
	<string>AIzaSyAdlIVSCx7ig_pHEQ3eSDDP24Z5n_jaZuk</string>
	<key>GCM_SENDER_ID</key>
	<string>838904893645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daniel.CardGroups</string>
	<key>PROJECT_ID</key>
	<string>cards-de1e9</string>
	<key>STORAGE_BUCKET</key>
	<string>cards-de1e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:838904893645:ios:eb5040bf14cf8d4d</string>
	<key>DATABASE_URL</key>
	<string>https://cards-de1e9.firebaseio.com</string>
</dict>
</plist>